nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;

}

html{
    background-color: black;
    width: 100vw;
    height: auto;
    overflow-x:hidden;
}

.linkedin{
    width: 30px;
    height: 30px;
}

.github{
    width: 35px;
    height: 35px;
}

div nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;
    justify-content: space-evenly;/* Espaçamento igual*/
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px;
    z-index: 1;
}

nav a:hover{
    font-size: 19px;
    transition: 0.3s;
    color: red;
}

.linha_check{
    display: flex;
    align-items: center;
    
}

#imagens_nav{
    display: flex;
    align-items: center;

}

h2{
    color: red;
    font-size: 50px; 
    text-align: left;
    margin-bottom: 10px;
}

.projetos, .cursos {
    font-size: 18px;
    color: white;
    margin: 20px 0;
}

h1{
    color: white;
    width: 100%;
}

p{
    color: white;
}

.oi{color: red;}

span{
    color: white;
}

.container-sobre {
    padding-left: 5%;
    display: flex;
    align-items: center; /* Itens ao topo */
    justify-content: center;
    gap:10px;
}

#imagem_eu {
    width: 20%;
    margin-right: 40px;
}

.sobre_mim{
    text-align: left ;
    width: 70%;
}

.sobre_mim h1 {
    font-size: 24px;
    margin-bottom: 12px;
}

.sobre_mim p {
    font-size: 18px;
    margin-bottom: 25px;
}

.sobre_mim span {
    color: #aaa;
    font-style: italic;
}

.eu {
    width: 100%;
    height: auto;
    border-radius: 10%;
    border: 4px solid white;
    object-fit: cover;
}

.imagens_skills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.imagens_skills img{
    width: 60px;
    height: auto ;
}


#git_skills{
    width: 85px;
    height: auto;
}

.imagens_cursos {
    position:relative;
    /* Outras propriedades de estilo */
}

#saudacao{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight:bold;
}

.background_projects{
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url('imagens/Group\ 47.png');
    background-position: 900px -100px;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}

.titulo_skills_completo {
    text-align: left;
    padding-left: 130px;
    padding-top: 10px;
    padding-bottom: 50px;
}
